.elements{
    padding-top: 42px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 16px;
    justify-content: center;
}

.card{
    position: relative;
    background-color: white;
    width: 282px;
    height: 361px;
    border-radius: 10px; 
}

.card__title{
    color:black;
    margin-left: 21px;
    margin-bottom: 25px;
    font-size: 24px;
}

.card__image{
    width: 282px;
    height: 282px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card__like:hover, .card__like-dark:hover, .card__delete:hover {
  opacity: 0.7;
}


.card__delete{
    position: absolute;
    top:15px;
    right: 15px;
    width: 18px;
    height: 20px;
    cursor: pointer;
}

.card__like, .card__like-dark{
    position: absolute;
    bottom: 30px;
    right: 18px;
    width: 21px;
    height: 20px;
    cursor: pointer;
}

.card__like-dark{
    display: block;
  }
  
  .hide{
    display: none;
  }
  
  .show{
    display: block;
  }
  
  @media screen and (max-width: 1100px) {
    .elements{
      display: grid;
      grid-template-columns: auto auto;
      justify-content: center;
    }
    
  }
  
  @media screen and (max-width: 640px) {
    .elements{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
  }