@import url(./popup__button-close/popup__button-close.css);
@import url(./popup__button-save/popup__button-save.css);


.popup__button-group{
    border: none;
    display: flex;
    justify-content: center;
    color: #fff;
    padding: 0;
  }