.popup__button-close{
    cursor: pointer;
      width: 40px;
      height: 40px;
      position: absolute;
      right: -77px;
      top: -103px;
      background-color: transparent;
      border: none;
  }
  
  @media screen and (max-width: 640px) {
    .popup__button-close{
      right: -83px;
      top: -67px;
    }
  }
