.profile{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 37px;
    position: relative;
}

.profile__avatar{
    width: 168px;
    height: 127px;
}

.profile__image{
    width: 120px;
    height: 120px;
    flex-shrink: 0;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 4px;
}

.profile__info{
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    width: 400px;
}

.profile__name{
    margin: 0;
    font-size: 42px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.profile__text{
    margin-top: 16px;
    font-size: 18px;
    font-weight: normal;
    line-height: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.profile__button-edit{
    width: 24px;
    height: 24px;
    background-image: url(../images/edit_button.svg);
    background-color: #000;
     margin: 30px 10px;
    border: 2px;
     cursor: pointer;
}

.profile__button-add{
    background-image: url(../images/add_button.svg);
    width: 150px;
    height: 50px;
    background-color: #000;
    margin: 30px auto;
    margin-right: 0px;
    border: 2px;
    cursor: pointer;
}

.profile__button-add:hover , .profile__button-edit:hover {
    opacity: 0.7;
}

@media screen and (max-width: 640px) {
    .profile{
        margin: 0 auto;
        display: grid;
        grid-template-rows: auto;
        justify-content: center;
      }

    .profile__button-add{
      margin: 20px;
      grid-row: 4;
    }
    
    .profile__button-edit{
        margin: 0px;
        grid-row: 2;
        align-self: center;
    }

    .profile__avatar{
        margin: 0 auto;
    }

    .profile__name{
        font-size: 22px;
        text-align: center;
      }
      .profile__info{
        padding-left: 0px;
        grid-row: 2;
      }
  }

  @media screen and (max-width: 960px) {
    .profile__name{
      font-size: 24px;
    }

    .profile__info{
        width: 200px;
      }
  }