@import url(./header__line/header__line.css);
@import url(./header__logo/header__logo.css);

.header{
    margin: 0;
    width: 100%;
}


@media screen and (max-width: 1100px) {
    .header{
      margin: 0px 140px;
    }
  }
  
  @media screen and (max-width: 850px) {
    .header{
      margin: 0px 50px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .header{
      margin: 0px 10%;
    }
  }